{"connection-name1": {"server":"mqtt.example.org","user":"john.doe","passwd":"qwerty", "topic":"msh/2/c/LongFast/", "id":"!ffffff01"},
"connection-name20": {"server":"mqtt.another-example.com","user":"jane.doe","passwd":"supersecure","topic":"msh/2/c/MediumFast/", "id":"!ffffff02"}
}
